form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
 width: 15rem;
 height: 10rem;
 border: 1px solid white;
 border-radius: 10px;
 padding: 3rem;
}

h2 {
    width: 100%;
    margin-top: 0;
    font-size: 2rem;
}

input {
    padding: 0.5rem 1rem;
}

button {
    padding: 0.2rem;
    border-radius: 1px;
    border: none;
}

button:hover {
    cursor: pointer;
}